body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #8ca4e2; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */
    text-decoration-color: #FD98FB

}
h1 {
    color: #10ee10; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}